* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.runes {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.bg-img {
  width: 100%;
  height: 100%;
  object-position: top;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  filter: brightness(0.85);
}
.stones-container {
  width: 100%;
  max-width: 90%;
  /* padding: 0 5rem; */
  height: max-content;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stone-box {
  width: 7vw;
  height: 7vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stone,
.stone-highlighted {
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.15s;
}
.text {
  width: 12.5vw;
  height: max-content;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 110%);
  opacity: 0;
  transition: 0.5s;
}
.stone-box:hover .text {
  transform: translate(-50%, 100%);
  opacity: 1;
}
.stone {
  width: 100%;
  height: 97%;
}
.stone-highlighted {
  width: 100%;
  height: 100%;
}
.stone-1-box:hover .stone,
.stone-2-box:hover .stone,
.stone-3-box:hover .stone,
.stone-4-box:hover .stone,
.stone-5-box:hover .stone,
.stone-6-box:hover .stone,
.stone-1-box .stone-highlighted,
.stone-2-box .stone-highlighted,
.stone-3-box .stone-highlighted,
.stone-4-box .stone-highlighted,
.stone-5-box .stone-highlighted,
.stone-6-box .stone-highlighted {
  display: none;
}
.stone-1-box:hover .stone-highlighted,
.stone-2-box:hover .stone-highlighted,
.stone-3-box:hover .stone-highlighted,
.stone-4-box:hover .stone-highlighted,
.stone-5-box:hover .stone-highlighted,
.stone-6-box:hover .stone-highlighted,
.stone-1-box .stone,
.stone-2-box .stone,
.stone-3-box .stone,
.stone-4-box .stone,
.stone-5-box .stone,
.stone-6-box .stone {
  display: block;
}

@media screen and (max-width: 600px) {
  .bg-img {
    object-fit: cover;
  }
  .stone-box {
    width: 12.5vw;
    height: 12.5vw;
  }
  .text {
    width: 35vw;
  }
  .stone-1-box .text {
    left: 0;
    transform: translate(0%, 110%);
  }
  .stone-1-box:hover .text {
    left: 0;
    transform: translate(0%, 100%);
  }
  .stone-6-box .text {
    left: unset;
    right: 0;
    transform: translate(-0%, 110%);
  }
  .stone-6-box:hover .text {
    left: unset;
    right: 0;
    transform: translate(-0%, 100%);
  }
}
